body{height:100%;overflow:hidden;margin-left:auto;margin-right:auto;background-color:#998F8F}

form{ margin:auto; margin-bottom:5%;box-shadow:  inset  0em .3em .3em .1em gray; background-color:white;width: 57%;border-radius:.3em;}

span, div { width: 9em;margin-right: 1em;line-height: 1.9em;backgrounc-color: white;}

div{ width:45em;margin-left:auto; margin-right:auto;border-bottom: .1em inset gray}

span{background-color:white;color:#342757;}

input{ margin:1em;height:1.5em;font-size:1.1em ;background-color:white;}

#output { width:57%;height:23em ;overflow:hidden;overflow-y:scroll;box-shadow:  inset  0em .3em .3em .1em gray;border: .1em inset gray;background-color: #FFF;opacity: 1;padding: 15px;border-radius:5px;direction:rtl;}

#output div{ direction:ltr;}

